Invoice Console App/Invoice Console App/obj/
Invoice Console App/.vs/Invoice Console App/FileContentIndex/
Invoice Console App/.vs/Invoice Console App/v17/
C#InvoiceApp/C#InvoiceApp/obj/Debug/net6.0/
C#InvoiceApp/C#InvoiceApp/obj/
C#InvoiceApp/.vs/C#InvoiceApp/FileContentIndex/
